{% extends "base.html" %}

{% block head_extra %}
<title>Home</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ url_for('static', filename='/home/home.css') }}">
{% endblock head_extra %}

{% block main %}

<div class="content">
    <div class="jumbotron" style="background-color: #e9ebe8;">
        <h1>Library Management System</h1>
        <p class="lead">Keep track of your books easily</p>
        <div class="library-image-holder">
            <img class="library-image" src="{{ url_for('static', filename='assets/library_image.png') }}" alt="Library Management System image">
        </div>
    </div>

    <hr class="my-4">  

    <section>
        <div class="jumbotron lead" style="background-color: #e9ebe8;">
            <h2>Introduction:</h2>
            <p class="mb-0">This project was undertaken by Tomasz Zajas, Dawid Sobczak, Farran Haley, and John Walsh as their project for the module System Analysis and Design (CS4125), showcasing their collective expertise in creating a robust library management system tailored for academic institutions.</p>
        </div>
        <hr class="my-4">
    
        <div class="jumbotron lead" style="background-color: #e9ebe8;">
            <h3>Innovative Cataloging and Book Management</h3>
            <p>Easily add, edit, and manage book inventories with unique identifiers. Multiple copies? No problem. Our system tracks each one meticulously.</p>
        </div>

        <hr class="my-4"> 
    
        <div class="jumbotron lead" style="background-color: #e9ebe8;"> 
            <h3>Effortless User and Role Management</h3>
            <p>Our platform empowers students and faculty alike, with tailored borrowing limits. Administrators have full control to maintain a seamless user experience.</p>
        </div>

        <hr class="my-4"> 
    
        <div class="jumbotron lead" style="background-color: #e9ebe8;">
            <h3>Seamless Search and Browsing Functionality</h3>
            <p>Dive into our expansive collection with intuitive search options. Find books by title, author, or even sort them by publication year. Detailed information is just a click away.</p>
        </div>

        <hr class="my-4"> 
    
        <div class="jumbotron lead" style="background-color: #e9ebe8;">
            <h3>Automated Fine and Inventory Tracking</h3>
            <p>Never miss a due date again. Our system automatically manages fines for overdue books and keeps a clear record of your borrowed items.</p>
        </div>

        <hr class="my-4"> 
    
        <div class="jumbotron lead" style="background-color: #e9ebe8;">
            <h3>Real-time Notifications</h3>
            <p>Stay informed with instant alerts for overdue books or when a reserved book becomes available, ensuring you're always in the loop.</p>
        </div>

        <hr class="my-4"> 
    
        <div class="jumbotron lead" style="background-color: #e9ebe8;">
            <h3>Dedicated to Excellence</h3>
            <p>Our commitment to quality is unmatched. With a focus on the business tier of MVC architecture and implementation of design patterns like Observer and Factory Method, we ensure robust and scalable operations.</p>
        </div>
    </section>
    
</div>
{% endblock main %}
