{% extends "book/book_base.html" %}

{% block head_extra %}
<title>Search</title>
<link href="{{ url_for('static', filename='book/book.css') }}" rel="stylesheet" />
{% endblock head_extra %}

{% block main %}

<main>
  <div id='container'>
    {% block content %}
    <content>
      <!-- <table>
        <tr>
          <td>
            <div id="title">Title
              <hr />
            </div>
          </td>
          <td>: {{ title }}</td>
        </tr>
        <tr>
          <td>
            <div id="author">Author
              <hr />
            </div>
          </td>
          <td>: {{ author }}</td>
        </tr>
        <tr>
          <td>
            <div id="copies">Available Copies
              <hr />
            </div>
          </td>
          <td>: {{ available_copies }} / {{ total_copies }}</td>
        </tr>
      </table> -->
      <div>
        <h4 id="title">{{ title }}</h4>
        <h6 id="author">{{ author }}</h6>
        <p id="copies">Available Copies: {{ available_copies }} / {{ total_copies }}</p>  
      </div>
      {% if available_copies %}
        <button id="return-button" class="btn btn-primary" onclick="borrow_book()">Borrow Book</button>
      {% else %}
        <button id="reserve-button" class="btn btn-info" onclick="reserve_book()">Reserve Book</button>
      {% endif %}
      <script>
        async function borrow_book() {
          const response = await fetch("{{ url_for('book.borrow', book_id=book_id) }}");
          const text = await response.json();
          window.location.reload(true)
        }
      </script>
    </content>
    {% endblock content %}
  </div>
</main>

{% endblock main %}