{% extends "base.html" %}

{% block head_extra %}
    <title>Search</title>
    <link href="{{ url_for('static', filename='search/search.css') }}" rel="stylesheet"/>
{% endblock head_extra %}

{% block main %}

    <main class="py-4">
        <div class="container">
            <nav>
                <h5> Search Options </h5>
                Search for books by <b>Title</b>, <b>Author</b>, or <b>ISBN</b>
                <br> Enter the details and click search.
            </nav>

            <!-- Search by Title -->
            <div class="input-group mb-3">
                <form action="{{ url_for('search.search_books') }}" method="get" class="form-inline w-100">
                    <input type="text" class="form-control" name="title" placeholder="Enter book title"
                           aria-label="Book title">
                    <div class="input-group-append">
                        <button class="btn btn btn-primary" type="submit">Search</button>
                    </div>
                </form>
            </div>

            <!-- Search by Author -->
            <div class="input-group mb-3">
                <form action="{{ url_for('search.search_books') }}" method="get" class="form-inline w-100">
                    <input type="text" class="form-control" name="author" placeholder="Enter author's name"
                           aria-label="Author's name">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit">Search</button>
                    </div>
                </form>
            </div>

            <!-- Search by ISBN -->
            <div class="input-group mb-3">
                <form action="{{ url_for('search.search_books') }}" method="get" class="form-inline w-100">
                    <input type="text" class="form-control" name="isbn" placeholder="Enter ISBN number"
                           aria-label="ISBN number">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit">Search</button>
                    </div>
                </form>
            </div>
        </div>

        <content class="container">
            <!-- Check if there are books in the list -->
            {% if books %}
                <!-- Iterate over each book and include the book_card template -->
                {% for book in books %}
                    {% include "search/book_card.html" with context %}
                {% endfor %}
            {% else %}
                <!-- Display a message if no books were found -->
                <h5>No books found. Try a different search.</h5>
            {% endif %}
        </content>
    </main>

{% endblock main %}
