{% extends "base.html" %}

{% block head_extra %}
<link rel="stylesheet" href="{{ url_for('static', filename='user_profile/admin_profile.css') }}">
<title>Profile</title>
{% endblock head_extra %}

{% block main %}
<div class="jumbotron mt-4 mb-4" style="background-color: #e9ebe8;">
    <div class="container">
        <h1>{{ user.username.capitalize() }}'s Admin Profile</h1>
        <div class="row mt-4">
            <div class="col-md-6">
                <div class="card mb-4">
                    <div class="card-header font-weight-bold">
                        User Details
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                {{ user.username.capitalize() }}
                            </li>
                            <li class="list-group-item">
                                {{ user.email }}
                            </li>
                            <li class="list-group-item">
                                {{ user.user_type.capitalize() }}
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="card bg-danger text-white">
                    <div class="card-header font-weight-bold">
                        Admin Functionality
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item bg-danger">
                                <button class="btn btn-warning" onclick="block_user()">Block Users</button>
                            </li>
                            <li class="list-group-item bg-danger">
                                <button class="btn btn-primary" onclick="unblock_user()">Unblock Users</button>
                            </li>
                            <li class="list-group-item bg-danger">
                                <button class="btn btn-success" onclick="waive_user_fine()">Waive User Fine</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-4 bg-light">
                    <div class="card-header font-weight-bold">
                        <span>Catalogue Manager</span>
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item bg-light">
                                <button class="btn btn-success" onclick="add_book()">Add Book</button>
                            </li>
                            <li class="list-group-item bg-light">
                                <button class="btn btn-primary" onclick="add_book_item()">Add Book Copy</button>
                            </li>
                            <li class="list-group-item bg-light">
                                <button class="btn btn-danger" onclick="remove_book()">Remove Book</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock main %}