{% extends "base.html" %}

{% block head_extra %}
<link rel="stylesheet" href="{{ url_for('static', filename='user_profile/admin_profile.css') }}">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<title>Profile</title>
{% endblock head_extra %}

{% block main %}
<!-- Modal Stuff -->
<div class="modal fade" id="longBlockUser" tabindex="-1" role="dialog" aria-labelledby="ModalTitleBlock" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalTitleBlock">Select a user to block</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="blockUserForm", method="POST", action="{{url_for('profile.block_user')}}">
                    {{block_user_form.hidden_tag()}}
                    <div class="form-group">
                        {{block_user_form.user.label}}
                        {{block_user_form.user(class="form-control", id="user_name")}}
                    </div>
                    <button type="submit", id="saveButton", class="btn btn-success">Block</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="closeButton" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="longUnblockUser" tabindex="-1" role="dialog" aria-labelledby="ModalTitleBlock" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalTitleBlock">Select a user to unblock</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="unblockUserForm", method="POST", action="{{url_for('profile.unblock_user')}}">
                    {{unblock_user_form.hidden_tag()}}
                    <div class="form-group">
                        {{unblock_user_form.user.label}}
                        {{unblock_user_form.user(class="form-control", id="user_name")}}
                    </div>
                    <button type="submit", id="saveButton", class="btn btn-success">Unblock</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="closeButton" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="longWaiveUser" tabindex="-1" role="dialog" aria-labelledby="ModalTitleBlock" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalTitleBlock">Waive a Fine</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="waiveFineForm", method="POST", action="{{url_for('profile.waive_fine')}}">
                    {{waive_fine_form.hidden_tag()}}
                    <div class="form-group">
                        {{waive_fine_form.user.label}}
                        {{waive_fine_form.user(class="form-control", id="user_id")}}
                    </div>
                    <button type="submit", id="saveButton", class="btn btn-success">Delete</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="closeButton" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="longAddBook" tabindex="-1" role="dialog" aria-labelledby="ModalTitleBlock" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalTitleBlock">Add a book</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="addBookForm" method="POST" action="{{url_for('profile.add_book')}}">
                    <!-- For CSRF Token -->
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        {{ form.author.label }}
                        {{ form.author(class="form-control", id="book_author") }}
                    </div>
                    <div class="form-group">
                        {{ form.title.label }}
                        {{ form.title(class="form-control", id="book_title") }}
                    </div>
                    <div class="form-group">
                        {{ form.isbn.label }}
                        {{ form.isbn(class="form-control", id="book_isbn") }}
                    </div>
                    <button type="submit" id="saveButton" class="btn btn-success">Add Book</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="closeButton" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="longDeleteBook" tabindex="-1" role="dialog" aria-labelledby="ModalTitleBlock" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalTitleBlock">Select a book to remove</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ABCDEFGHIJKLMNOPQRSTUVWXYZ
            </div>
            <div class="modal-footer">
                <button type="button" id="closeButton" class="btn btn-warning" data-dismiss="modal">Close</button>
                <button type="button" id="saveButton" class="btn btn-success">Save Changes</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="longAddBookCopy" tabindex="-1" role="dialog" aria-labelledby="ModalTitleBlock" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalTitleBlock">Add a book copy</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ABCDEFGHIJKLMNOPQRSTUVWXYZ
            </div>
            <div class="modal-footer">
                <button type="button" id="closeButton" class="btn btn-warning" data-dismiss="modal">Close</button>
                <button type="button" id="saveButton" class="btn btn-success">Save Changes</button>
            </div>
        </div>
    </div>
</div>

<div class="jumbotron mt-4 mb-4" style="background-color: #e9ebe8;">
    <div class="container">
        <h3>{{ user.username.capitalize() }}'s Admin Profile</h3>
        <div class="row mt-4">
            <div class="col-md-6">
                <div class="card mb-4">
                    <div class="card-header font-weight-bold">
                        User Details
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                {{ user.username.capitalize() }}
                            </li>
                            <li class="list-group-item">
                                {{ user.email }}
                            </li>
                            <li class="list-group-item">
                                {{ user.user_type.capitalize() }}
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="card text-white">
                    <div class="card-header bg-danger font-weight-bold">
                        Admin Functionality
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#longBlockUser">Block Users</button>
                            </li>
                            <li class="list-group-item">
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#longUnblockUser">Unblock Users</button>
                            </li>
                            <li class="list-group-item">
                                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#longWaiveUser">Waive User Fine</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-4 bg-light">
                    <div class="card-header font-weight-bold">
                        <span>Catalogue Manager</span>
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item bg-light">
                                <button class="btn btn-success" data-toggle="modal" data-target="#longAddBook" onclick="add_book()">Add Book</button>
                            </li>
                            <li class="list-group-item bg-light">
                                <button class="btn btn-primary" data-toggle="modal" data-target="#longAddBookCopy" onclick="add_book_item()">Add Book Copy</button>
                            </li>
                            <li class="list-group-item bg-light">
                                <button class="btn btn-danger" data-toggle="modal" data-target="#longDeleteBook" onclick="remove_book()">Remove Book</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock main %}