{% extends "base.html" %}

{% block head_extra %}
<link rel="stylesheet" href="{{ url_for('static', filename='user_profile/admin_profile.css') }}">
<title>Profile</title>
{% endblock head_extra %}

{% block main %}
<div class="jumbotron mt-4 mb-4" style="background-color: #e9ebe8;">
    <div class="container">
        <h1>{{ user.username.capitalize() }}'s User Profile</h1>
        <div class="row mt-4">
            <div class="col-md-6">
                <div class="card mb-4">
                    <div class="card-header font-weight-bold">
                        User Details
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                {{ user.username.capitalize() }}
                            </li>
                            <li class="list-group-item">
                                {{ user.email }}
                            </li>
                            <li class="list-group-item">
                                {{ user.user_type.capitalize() }}
                            </li>
                        </ul>
                    </div>
                </div>
                
                <div class="card mb-4">
                    <div class="d-flex justify-content-between align-items-center card-header bg-danger text-white font-weight-bold">
                        <span>Fines</span>
                        <button class="btn btn-success ml-2" onclick="waive_fine()">Waive Fines</button>
                    </div>
                    <div class="card-body">
                        <table class="table table-no-border">
                            <thead>
                                <tr>
                                    <th>Fine Amount:</th>
                                    <th class="font-weight-normal">0</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header font-weight-bold">
                        Blocked Users
                    </div>
                    <button class="btn btn-primary ml-2" onclick="block_library_member()">Block Users</button>
                    <div class="card-body">
                        <table class="table table-no-border">
                            <thead>
                                <tr>
                                    <th>Total Blocked Users:</th>
                                    <th class="font-weight-normal">0</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <div class="card mt-4">
                    <div class="d-flex justify-content-between align-items-center card-header font-weight-bold">
                        <span>Overdue Books</span>
                        <button class="btn btn-primary ml-2" onclick="returnBook()">Return Book</button>
                    </div>
                    <div class="card-body">
                        <table class="table table-no-border">
                            <thead>
                                <tr>
                                    <th>User Name</th>
                                    <th>Due Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>book title</td>
                                    <td>book due date</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock main %}