{% extends "base.html" %}

{% block head_extra %}
<link rel="stylesheet" href="{{ url_for('static', filename='user_profile/user_profile.css') }}">
<title>Profile</title>
{% endblock head_extra %}

{% block main %}
<div class="jumbotron mt-4 mb-4" style="background-color: #e9ebe8;">
    <div class="container">
        <h3>{{ user.username.capitalize() }}'s User Profile</h3>
        <div class="row mt-4">
            <div class="col-md-5">
                <div class="card mb-4">
                    <div class="card-header font-weight-bold">
                        User Details
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                {{ user.username.capitalize() }}
                            </li>
                            <li class="list-group-item">
                                {{ user.email }}
                            </li>
                            <li class="list-group-item">
                                {{ user.user_type.capitalize() }}
                            </li>
                            <li class="list-group-item">
                                Max Books Allowed: {{ user.get_book_limit() }}
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                Current Balance: €{{ user.get_balance() }}
                                <a href="/add_to_balance"><button class="btn btn-sm btn-info">Top Up</button></a>
                            </li>
                        </ul>
                    </div>
                </div>
                
                <div class="card mb-4">
                    <div class="card-header bg-danger text-white font-weight-bold">
                        <span>Fines</span>
                    </div>
                    <div class="card-body">
                        <table class="table table-no-border">
                            {% if user.get_fines() %}
                            <thead>
                                <tr>
                                    <th id="reason">Reason</th>
                                    <th id="amount" class="font-weight-normal">Amount</th>
                                </tr>
                            </thead>
                                <tbody>
                                    {% for fine in user.get_fines() %}
                                    <tr>
                                        <td>{{ fine.description }}</td>
                                        <td>€{{ fine.fine_amount }}</td>
                                        <td>
                                            <a href="/pay_fine/{{ fine.fine_id }}"><button class="btn btn-sm btn-success">Pay</button></a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    <tr>
                                        <td><b>Total:</b></td>
                                        <td><b>€{{ user.get_fine_amount() }}</b></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            {% else %}
                            <thead>
                                <tr>
                                    <th id="no_fines">No Pending Fines</th>
                                </tr>
                            </thead> 
                            {% endif %}
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="card">
                    <div class="card-header font-weight-bold">
                        Borrowed Books: {{user.get_borrowed_books() | length}}
                    </div>
                    <div class="card-body">
                        <table class="table table-no-border">
                            {% if user.get_borrowed_books() %}
                            <thead>
                                <tr>
                                    <th id="book_title">Book Title</th>
                                    <th id="author">Author</th>
                                </tr>
                            </thead>
                                <tbody>
                                    {% for book, borrow_id in user.get_borrowed_books() %}
                                    <tr>
                                        <td>{{ book.title }}</td>
                                        <td>{{ book.author }}</td>
                                        <td>
                                            <a href="/return_book/{{ borrow_id }}"><button class="btn btn-sm btn-primary">Return Book</button></a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            {% else %}
                            <thead>
                                <tr>
                                    <th id="no_books">No Books Borrowed</th>
                                </tr>
                            </thead>
                            {% endif %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock main %}