<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='authentication/register.css') }}">
    <title>Register</title>
</head>
<body>
    <div class="container mt-4">
        <h1 class="text-center">Library Management System</h1>
    </div>
    <div class="container register-container">
        <h2 class="custom-header">Register</h2>
        <form method="post" action="register">
            <div class="form-group">
                <label for="username" class="custom-label">Username:</label>
                <input type="text" class="form-control" name="username" id="username" required>
            </div>
            <div class="form-group">
                <label for="email" class="custom-label">Email:</label>
                <input type="email" class="form-control" name="email" id="email" required>
            </div>
            <div class="form-group">
                <label for="password" class="custom-label">Password:</label>
                <input type="password" class="form-control" name="password" id="password" required>
            </div>
            <div class="form-group">
                <label for="role" class="custom-label">Role:</label>
                <select class="form-control" name="role" id="role" required>
                    <option value="student">Student</option>
                    <option value="faculty">Faculty</option>
                </select>
            </div>
            <div class="form-group">
                <button type="submit" class="btn custom-button">Register</button>
            </div>
            {% with message = get_flashed_messages()[-1] %}
            {% if message %}
                <div class="alert alert-info text-center">{{ message }}</div>
            {% endif %}
            {% endwith %}
        </form>
        <p class="text-center">Already have an account? <a href="/">Login here</a></p>
    </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>