* {
  margin: 0;
  font-family: system-ui;
}

:root {
  --white: #F7F8F7;
  --purple: #452c37;
  --orange: #c35229;
  --blue: #18588f;
  --header-height: 3rem;
}

body {
  display: grid;
  grid-template-rows: var(--header-height) 1fr;
  width: 800px;
  margin: auto;
}

header {
  grid-row: 1;
  display: flex;
  height: 3rem;
  align-self: end;
  align-items: flex-end;
  padding: 1rem 1rem 0rem 1rem;
  position: sticky;
  top: 0px;
  z-index: 100;
  background-color: white;
}

header h1 {
  font-size: large;
}

header a {
  text-decoration: none;
  color: inherit;
}

header>nav>hr {
  margin: 0.25rem 0rem 0rem 0rem;
  border-color: var(--orange);
}

header>nav {
  display: inline-block;
  vertical-align: middle;
}

header>nav>ul {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0 1rem 0 1rem;
  list-style-type: none;
  align-items: first baseline;
}

header>nav>ul>li {
  margin-left: 1rem;
  font-size: small;
}

footer {
  margin: 0rem 1rem 0rem 1rem;
}