body {
    background-color: #e9ebe8;
}
.login-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 80px;
}
.custom-header {
    color: #452c37;
    text-align: center;
}
.custom-label {
    color: #452c37;
}
.custom-button {
    background-color: #c35229;
    color: #fff;
}
.custom-button:hover {
    background-color: #18588f;
}