<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

  {% block head %}
  <link href="{{ url_for('static', filename='base.css') }}" rel="stylesheet" />
  {% endblock head %}
  {% block head_extra %} {% endblock head_extra %}
</head>

<body>
  <header>
    <nav>
      <ul>
        <h1><a href="/">Library Management System</a></h1>
        <li><a href="/search">Search</a></li>
        <li><a href="/profile">My Profile</a></li>
      </ul>
      <hr />
    </nav>
  </header>
  {% block main %}

  {% endblock main %}
  <footer>
    My Footer
  </footer>
</body>

</html>