<!DOCTYPE html>
<html>

<head>
  <script>
  </script>
</head>

<body>
  <h2>Test Page</h2>

  <ul>
    <li> Login:
      <form id="login-form" method="post" action="http://127.0.0.1:8080/api/login">
        <label>Email: </label>
        <input type="text" name="email" value="test@example.com" autocomplete="email" />
        <label>Password: </label>
        <input type="text" name="password" value="test" autocomplete="password" />
        <button type="submit">login</button>
      </form>
    </li>
    <li> Register:
      <form id="registration-form" method="post" action="http://127.0.0.1:8080/api/register">
        <label>Display Name: </label>
        <input type="text" name="display_name" value="" /><br>
        <label>Email: </label>
        <input type="text" name="email" value="" autocomplete="email" /><br>
        <label>Password: </label>
        <input type="text" name="password" value="test" autocomplete="password" />
        <button type="submit">register</button>
      </form>
    </li>
  </ul>

  <h3>Output</h3>
  <output id="output">
    Default text
  </output>

  <script>
    let output = document.getElementById("output")
    function api(url) {
      let users = fetch(url).then((res) => {
        res.text().then((text) => {
          output.innerText = text
        })
      })
    }

    async function get_post() {
      let posts = fetch('http://127.0.0.1:8080/api/posts');
      post_id = (await (await posts).json())[0].post_id;
      let post = (await (await fetch('http://127.0.0.1:8080/api/post?id=' + post_id)).text());
      output.innerText = post
    }

    let login_form = document.getElementById("login-form");

    login_form.addEventListener("submit", (e) => {
      e.preventDefault();
      var xhr = new XMLHttpRequest();
      xhr.open("POST", "/api/login");
      let login_form = document.getElementById("login-form");
      var formData = new FormData(login_form);
      xhr.onload = function (event) {
        output.innerText = event.target.response
      };
      xhr.send(formData);
    })

    let registration_form = document.getElementById("registration-form");

    registration_form.addEventListener("submit", (e) => {
      e.preventDefault();
      var xhr = new XMLHttpRequest();
      xhr.open("POST", "/api/register");
      let registration_form = document.getElementById("registration-form");
      var formData = new FormData(registration_form);
      xhr.onload = function (event) {
        output.innerText = event.target.response
      };
      xhr.send(formData);
    })
  </script>
</body>

</html>